apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "v1.26.1"
controlPlaneEndpoint: "{{ K8S_API_ENDPOINTS }}:6443"
clusterName: {{ CLUSTER_NAME }}
apiServer:
  certSANs:
  - "127.0.0.1"
  - "172.19.40.107"
  - "172.19.40.9"
  - "172.19.40.10"
  - "172.19.40.13"
  - "localhost"
  - "tbn-k8s-prd-loadbalancer-01"
  - "tbn-k8s-prd-master-01"
  - "tbn-k8s-prd-master-02"
  - "tbn-k8s-prd-master-03"
  - "k8s-tabanan.bri.co.id"
networking:
  podSubnet: 192.168.0.0/16
  serviceSubnet: 10.96.0.0/12
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  imagePullPolicy: IfNotPresent
  criSocket: "/run/containerd/containerd.sock"
